<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style media="screen">
        .shadow{position: fixed;width: 100%;height: 100%;
         background:  #f9f9f9;opacity: 0.3; filter: alpha(opacity 30);
         left: 0;top: 0;}
        .mod_dialog{width: 450px;height: 240px;border: 1px solid rgb(243, 137, 137);
        background:  #f9f9f9;  position: fixed;left: 46%;top: 45%;
        margin-left: -150px;margin-top: -100px;}
    </style>
    <title>用户管理</title>
    <script src="../../javascripts/adapter.js"></script> <!--rem适配js-->
    <link rel='stylesheet', href='../../stylesheets/normalize.css'>
    <link rel='stylesheet', href='../../stylesheets/header.css'>
    <link rel='stylesheet', href='../../stylesheets/menu.css'>
    <link rel='stylesheet', href='../../stylesheets/menu1.css'>
    <link rel='stylesheet', href='../../stylesheets/base.css'>
    <link rel='stylesheet', href='../../stylesheets/p-system-regular.css'>
    <link rel='stylesheet', href='../../stylesheets/contend.css'>
    <link rel='stylesheet', href='../../stylesheets/base1.css'>
    <link rel='stylesheet', href='../../stylesheets/admin-all.css'>
    <link rel='stylesheet', href='../../stylesheets/formui.css'>
</head>
<body style="background-color:#f9f9f9">
        <!-- p-system-regular -->
    <% include components/top.inc.ejs%>
    <% include components/menu.inc.ejs%> 
    <!-- 内容区 -->
        <div class="contend">  
                <h2 style="margin-left:5%; margin-top:1%; font-size:1.5em; color:#cf0000;">带我回家管理</h2>
                    <!--添加用的 -->
                    <div style="width:90%;height:20%;margin-left:5%;margin-top:1.5%;">
                        <form action="?" method="post" enctype="multipart/form-data">   
                             
                            <table class="tbform">
                                <tr>
                                    <td class="tdl">宠物ID</td>
                                    <td>
                                    <!-- ！！！！！！！ -->
                                        <input id="finishTime"  class="ipt" type="text" name="id" />
                                    </td>
                                    <td class="tdl">宠物头像</td>
                                    <td>
                                         <!-- ！！！！！！！ -->
                                        <input id="finishTime"  class="ipt" type="file" name="href"/>
                                    </td>
                                </tr>
                                <tr>
                                     <td class="tdl">用户名 </td>
                                    <td>
                                         <!-- ！！！！！！！ -->
                                        <input id="finishTime"  class="ipt" type="text" name="user_name"/>
                                    </td>
                                    <td class="tdl">宠物名 </td>
                                    <td>
                                         <!-- ！！！！！！！ -->
                                            <input id="finishTime"  class="ipt" type="text" name="pet_name" />
                                    </td>
                                </tr>
                                <tr>
                                        <td class="tdl">宠物领养地址</td>
                                        <td>
                                             <!-- ！！！！！！！ -->
                                            <input id="finishTime"  class="ipt" type="text" name="address"/>
                                        </td>
                                    
                                        <td class="tdl">联系方式 </td>
                                        <td colspan="3">
                                             <!-- ！！！！！！！ -->
                                            <input id="finishTime"  class="ipt" type="number" name="phone"/>
                                        </td>
                                        <td class="tdl">宠物信息描述 </td>
                                        <td colspan="3">
                                             <!-- ！！！！！！！ -->
                                            <input id="finishTime"  class="ipt" type="text" name="petinformation"/>
                                        </td>
                                </tr>
                            </table>   
                                 <input id="finishTime"   type="submit" value="添加" class="add">                       
                        </form>
                    </div>  
                    <br> <hr style="margin-top:12px;" class="system-regular-panel">                  
            <div class="system-regular-panel">
                    <table  cellspacing="0" cellpadding="3" width="100%">
                         <!-- ！！！！！！！ -->
                        <tr>                           
                            <th>宠物ID</th>
                            <th>宠物头像</th>
                            <th>用户名</th>
                            <th>宠物名</th>
                            <th>宠物领养地址</th>
                            <th>联系方式</th> 
                            <th>宠物信息描述 </th>
                            <th>操作</th>  
                        </tr>
                         <!-- ！！！！！！！ -->
                        <% for(var i=0;i< adopt_manager.length;i++){ %>
                        <tr id="row1">
                             <!-- ！！！！！！！ -->
                            <td><%=adopt_manager[i].id %></td>
                            <td><img width="32" height="32" src="/upload/<%=adopt_manager[i].href %>"></td>
                            <td><%=adopt_manager[i].user_name %></td>
                            <td><%=adopt_manager[i].pet_name %></td>
                            <td><%=adopt_manager[i].address %></td>
                            <td><%=adopt_manager[i].phone %></td>
                            <td><%=adopt_manager[i].petinformation %></td>
                            <td>
                                <a href="?act=mod&id=<%=adopt_manager[i].id%>"><button class="deledi">修改</button></a>
                                <a href="?act=del&id=<%=adopt_manager[i].id%>" onclick="return confirm('您确定要删除数据吗？一旦删除数据无法恢复')"><button class="deledi">删除</button></a>
                            </td>    
                        </tr>
                        <% } %>                                         
                    </table>
                </div>      
        </div>       
        <% if(typeof mod_data != 'undefined'){ %>
            <div class="shadow"></div>                    
        <div class="mod_dialog">
            <!-- 修改用的 -->  
            <form action="?" method="post" enctype="multipart/form-data">
                <table style="width:100%;" class="tbform">
                    <input type="hidden" id="finishTime"  class="ipt" name="mod_id" value="<%=mod_data.id %>"  />
                        <tr>
                            <td class="tdl">宠物ID</td>
                            <td>
                                 <!-- ！！！！！！！ -->
                                    <input type="number" id="finishTime"  class="ipt" name="id" value="<%=mod_data.id %>">
                            </td>
                        </tr>
                        <tr>
                            <td class="tdl">宠物头像</td>
                            <td>
                                 <!-- ！！！！！！！ -->
                                    <input type="file" id="finishTime"  class="ipt" name="href" value="<%=mod_data.href %>">
                            </td>
                        </tr>
                        <tr>
                            <td class="tdl">用户名 </td>
                            <td>
                                 <!-- ！！！！！！！ -->
                                    <input type="text" id="finishTime"  class="ipt" name="user_name" value="<%=mod_data.user_name %>">
                            </td>
                        </tr>
                        <tr>
                            <td class="tdl">宠物名字 </td>
                            <td>
                                 <!-- ！！！！！！！ -->
                                    <input type="text" id="finishTime"  class="ipt" name="pet_name" value="<%=mod_data.pet_name %>">
                            </td>
                        </tr>
                        <tr>
                            <td class="tdl">宠物领养地址 </td>
                            <td colspan="3">
                                 <!-- ！！！！！！！ -->
                                    <input type="text" id="finishTime"  class="ipt" name="address" value="<%=mod_data.address %>">
                            </td>
                        </tr>
                        <tr>
                             <td class="tdl">联系方式</td>
                            <td>
                                 <!-- ！！！！！！！ -->
                                    <input type="number" id="finishTime"  class="ipt" name="phone" value="<%=mod_data.phone %>">
                            </td>
                           
                        </tr>
                        <tr>
                             <td class="tdl">宠物信息描述</td>
                            <td>
                                 <!-- ！！！！！！！ -->
                                    <input type="text" id="finishTime"  class="ipt" name="petinformation" value="<%=mod_data.petinformation %>">
                            </td>
                           
                        </tr>
                    </table>
                   
                            <input id="finishTime"  style="margin-left:65%;"  type="submit" value="修改" class="add">   
                             <!-- ！！！！！！！ -->                                   
                            <a href="/admin/user-manager">
                                <input id="finishTime" style="margin-left:80%;"   type="button" value="取消" class="add">
                            </a>
                   
                </form>
        </div>
        <% } %>
          <script src="../../javascripts/menu1.js"></script> <!--控制js-->       
</body>
</html>