<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style media="screen">
        .shadow{position: fixed;width: 100%;height: 100%;
         background:  #f9f9f9;opacity: 0.3; filter: alpha(opacity 30);
         left: 0;top: 0;}
        .mod_dialog{width: 450px;height: 240px;border: 1px solid rgb(243, 137, 137);
        background:  #f9f9f9;  position: fixed;left: 46%;top: 45%;
        margin-left: -150px;margin-top: -100px;}
    </style>
    <title>用户管理</title>
    <script src="../../javascripts/adapter.js"></script> <!--rem适配js-->
    <link rel='stylesheet', href='../../stylesheets/normalize.css'>
    <link rel='stylesheet', href='../../stylesheets/header.css'>
    <link rel='stylesheet', href='../../stylesheets/menu.css'>
    <link rel='stylesheet', href='../../stylesheets/menu1.css'>
    <link rel='stylesheet', href='../../stylesheets/base.css'>
    <link rel='stylesheet', href='../../stylesheets/p-system-regular.css'>
    <link rel='stylesheet', href='../../stylesheets/contend.css'>
    <link rel='stylesheet', href='../../stylesheets/base1.css'>
    <link rel='stylesheet', href='../../stylesheets/admin-all.css'>
    <link rel='stylesheet', href='../../stylesheets/formui.css'>
</head>
<body style="background-color:#f9f9f9">
        <!-- p-system-regular -->
    <% include components/top.inc.ejs%>
    <% include components/menu.inc.ejs%> 
    <!-- 内容区 -->
        <div class="contend">  
                <h2 style="margin-left:5%; margin-top:1%; font-size:1.5em; color:#cf0000;">寄养宠物信息管理</h2>
                    <!--添加用的 -->
                    <div style="width:90%;height:20%;margin-left:5%;margin-top:1.5%;">
                        <form action="?" method="post" enctype="multipart/form-data">   
                             
                            <table class="tbform">
                                <tr>
                                    <td class="tdl">宠物店ID</td>
                                    <td>
                                    <!-- ！！！！！！！ -->
                                        <input id="finishTime"  class="ipt" type="text" name="petshopid" />
                                    </td>
                                    <td class="tdl">宠物店头像</td>
                                    <td>
                                         <!-- ！！！！！！！ -->
                                        <input id="finishTime"  class="ipt" type="file" name="petshopimage"/>
                                    </td>
                                </tr>
                                <tr>
                                     <td class="tdl">宠物店名称 </td>
                                    <td>
                                         <!-- ！！！！！！！ -->
                                        <input id="finishTime"  class="ipt" type="text" name="petshopname"/>
                                    </td>
                                    <td class="tdl">宠物店地址 </td>
                                    <td>
                                         <!-- ！！！！！！！ -->
                                            <input id="finishTime"  class="ipt" type="text" name="petshopaddress" />
                                    </td>
                                </tr>
                                <tr>
                                        <td class="tdl">宠物店地区</td>
                                        <td>
                                             <!-- ！！！！！！！ -->
                                            <input id="finishTime"  class="ipt" type="text" name="petshopregion"/>
                                        </td>
                                </tr>
                            </table>   
                                 <input id="finishTime"   type="submit" value="添加" class="add">                       
                        </form>
                    </div>  
                    <br> <hr style="margin-top:12px;" class="system-regular-panel">                  
            <div class="system-regular-panel">
                    <table  cellspacing="0" cellpadding="3" width="100%">
                         <!-- ！！！！！！！ -->
                        <tr>                           
                            <th>宠物店ID</th>
                            <th>宠物店头像</th>
                            <th>宠物店名称</th>
                            <th>宠物店地址</th>
                            <th>宠物店地区</th> 
                            <th>操作</th>  
                        </tr>
                         <!-- ！！！！！！！ -->
                        <% for(var i=0;i< fosterpet_manager.length;i++){ %>
                        <tr id="row1">
                             <!-- ！！！！！！！ -->
                            <td><%=fosterpet_manager[i].petshopid %></td>
                            <td><img width="80" height="80" src="/upload/<%=fosterpet_manager[i].petshopimage %>"></td>
                            <td><%=fosterpet_manager[i].petshopname %></td>
                            <td><%=fosterpet_manager[i].petshopaddress %></td>
                            <td><%=fosterpet_manager[i].petshopregion %></td>
                            <td>
                                <a href="?act=mod&petshopid=<%=fosterpet_manager[i].petshopid%>"><button class="deledi">修改</button></a>
                                <a href="?act=del&petshopid=<%=fosterpet_manager[i].petshopid%>" onclick="return confirm('您确定要删除数据吗？一旦删除数据无法恢复')"><button class="deledi">删除</button></a>
                            </td>    
                        </tr>
                        <% } %>                                         
                    </table>
                </div>      
        </div>       
        <% if(typeof mod_data != 'undefined'){ %>
            <div class="shadow"></div>                    
        <div class="mod_dialog">
            <!-- 修改用的 -->  
            <form action="?" method="post" enctype="multipart/form-data">
                <table style="width:100%;" class="tbform">
                    <input type="hidden" id="finishTime"  class="ipt" name="mod_iddd" value="<%=mod_data.petshopid %>"  />
                        <tr>
                            <td class="tdl">宠物店ID</td>
                            <td>
                                 <!-- ！！！！！！！ -->
                                    <input type="text" id="finishTime"  class="ipt" name="petshopid" value="<%=mod_data.petshopid %>">
                            </td>
                        </tr>
                        <tr>
                                <td class="tdl">宠物店头像 </td>
                                <td>
                                     <!-- ！！！！！！！ -->
                                        <input type="file" id="finishTime"  class="ipt" name="petshopimage" value="<%=mod_data.petshopimage %>">
                                </td>
                            </tr>
                        <tr>
                            <td class="tdl">宠物店名称 </td>
                            <td>
                                 <!-- ！！！！！！！ -->
                                    <input type="text" id="finishTime"  class="ipt" name="petshopname" value="<%=mod_data.petshopname %>">
                            </td>
                        </tr>
                        <tr>
                            <td class="tdl">宠物店地址 </td>
                            <td>
                                 <!-- ！！！！！！！ -->
                                    <input type="text" id="finishTime"  class="ipt" name="petshopaddress" value="<%=mod_data.petshopaddress %>">
                            </td>
                        </tr>
                        <tr>
                            <td class="tdl">宠物店地区 </td>
                            <td colspan="3">
                                 <!-- ！！！！！！！ -->
                                    <input type="text" id="finishTime"  class="ipt" name="petshopregion" value="<%=mod_data.petshopregion %>">
                            </td>
                        </tr>
                    </table>
                            <input id="finishTime"  style="margin-left:65%;"  type="submit" value="保存" class="add">   
                             <!-- ！！！！！！！ -->                                   
                            <a href="/admin/fosterpet-manager">
                                <input id="finishTime" style="margin-left:80%;"   type="button" value="取消" class="add">
                            </a>     
                </form>
        </div>
        <% } %>
          <script src="../../javascripts/menu1.js"></script> <!--控制js-->       
</body>
</html>